.tartalom
{
background-color: lightblue;
border: 2px gray solid;
margin: 10px;
box-sizing: border-box;
}

ul
{
list-style-type: none;
text-align: left;
padding: 10px;
float: left;
width: 100%;
background-color: blue;
color: yellow;
}

li
{
display: inline;
padding-left: 40px;
}

#auto
{
float: right;
}

.kiemelt
{
color: red;
font-weight: bold;
}

body
{
background-color: blue;
}

a
{
color: yellow;
text-decoration: none;
}

h1
{
font-size: 30px;
text-decoration: underline;
text-align: center;
margin-bottom: 20px;
}
p
{
text-align: justify;
}
.auto
{
    width: 250px;
}